version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: coup-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: coup-redis
    restart: always
    ports:
      - "6379:6379"

  app:
    build: .
    container_name: coup-app
    restart: always
    depends_on:
      - mongo
      - redis
    ports:
      - "8080:8080"
    environment:
      MONGO_URI: mongodb://root:root@mongo:27017
      DATABASE_NAME: coup
      REDIS_HOST: redis
      REDIS_PORT: 6379

volumes:
  mongo_data:
